<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        姓：<input type="text" placeholder="firstname" v-model="firstname"><br/>
        名：<input type="text" placeholder="lastname" v-model="lastname"><br/>
        姓名1:<input type="text" placeholder="fullname1" v-model="fullname1"><br/>
        姓名2:<input type="text" placeholder="fullname2"><br/>
        姓名3:<input type="text" placeholder="fullname3"><br/>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
            <script type="text/javascript">
                var vm = new Vue({
                    el:"#app",
                    data:{
                        firstname:"A",
                        lastname:"B",
                    },
                    computed:{
                        fullname1(){
                            return this.firstname + ' ' + this.lastname
                        }
                    }
                })
            </script>
</body>
</html>