<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <script type="text/javascript" src="../js/vue.min.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>

    <div id="app">
        <select v-model="selects.select1">
            <option v-for="option in options" :value="option.cityCode">{{option.city}}</option>
        </select>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                selects: {
                    select1: 1
                },
                //selectedOption:"",
                options: [{
                        "cityCode": 1,
                        "city": "北京"
                    },
                    {
                        "cityCode": 2,
                        "city": "上海"
                    },
                    {
                        "cityCode": 3,
                        "city": "天津"
                    },
                    {
                        "cityCode": 4,
                        "city": "重庆"
                    }
                ]
            },
            created() {
                this.getselect()

            },
            methods: {
                getselect() {
                    var that = this
                    axios.get('http://localhost:5500/citys')
                        .then(function (res) {
                            console.log(res);
                            that.options = res.data;
                            // that.selectedOption = that.options[0].cityCode;
                            that.selects.select1 = that.options[0].cityCode;
                        })
                        .catch(function (err) {
                            console.log(err);
                        })
                }
            }
        })
    </script>


    <!--

[
  {
    "cityCode": 1,
    "city": "北京"
  },
  {
    "cityCode": 2,
    "city": "上海"
  },
  {
    "cityCode": 3,
    "city": "天津"
  },
  {
    "cityCode": 4,
    "city": "重庆"
  }
]

-->

</body>

</html>